/* Write your CSS here */
.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: black;
  padding: 20px;
}

.close-btn {
  align-self: flex-end;
}
